* {
    box-sizing: border-box;
  } 

img{
    max-width: 100%;
}

body{
  background-color: rgb(245, 179, 255);
  margin: 0;
  transition: background-color 2s;
}

.container{
  width:100vw;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.base{
  clip-path: polygon(33% 0, 67% 0, 90% 100%, 10% 100%);
  background-color: saddlebrown;
  width:600px;
  height:650px;
  position: relative;
}

.plate{
  background-color: rgb(54, 52, 51);
  width:100%;
  height:55%;
  position: absolute;
  top:10%;
  left: 0px;

}

.metal{
  background-color: darkgray;
  position:absolute;
  width:10%;
  height: 90%;
  left:50%;
  transform: translateX(-50%);
  bottom:0;

}

.arm{
  position:absolute;
  left:48.5%;
  transform: translateX(-50%);
  bottom:27%;
  height:450px;
  width:50px;
  animation: tick 1s linear infinite alternate; 
  transition: animation-duration 2s; 
  transform-origin: bottom;
}

@keyframes tick {
  0%   {transform: rotate(-45deg);}
  100% {transform: rotate(45deg);}

}


.stick{
  background-color: black;
  width:7px;
  height:450px;
  left:50%;
  transform: translateX(-50%);
  position:absolute;
}


.weight{
  background-color: black;
  width:50px;
  height:50px;
  position:absolute;
  top:20%
}


.bpm{
  background-color: rgb(148, 67, 163);
  transition:  background-color 2s;
  color: white;
  font-weight: bold;
  font-size: 120%;
  text-align: center;
  padding:10px 20px;
  position:fixed;
  bottom:10px;
  right:10px;
}


.blue,.green,.yellow,.orange,.red,.purple{
  display:none;
}

@media screen and (max-width: 1450px) {
  body {
    background-color: lightblue;
  }

  .bpm{
    background-color: rgb(90, 140, 167);
  }

  .arm{
    animation-duration: 0.667s;
  }

  .fullscreen{
    display: none;
  }

  .blue{
    display:inline;
  }
}

@media screen and (max-width: 1250px) {
  body {
    background-color: rgb(154, 212, 113);
  }

  .bpm{
    background-color: rgb(103, 147, 82);
  }

  .arm{
    animation-duration: 0.5s;
  }

  .blue{
    display:none;
  }

  .green{
    display:inline;
  }
}

@media screen and (max-width: 1050px) {
  body {
    background-color: rgb(249, 249, 115);
  }

  .bpm{
    background-color: rgb(226, 209, 16);
  }

  .arm{
    animation-duration: 0.4s;
  }

  .green{
    display:none;
  }

  .yellow{
    display: inline;
  }
}

@media screen and (max-width: 950px) {
  body {
    background-color: rgb(253, 183, 85);
  }

  .bpm{
    background-color: rgb(245, 154, 64);
  }

  .arm{
    animation-duration: 0.3s;
  }

  .yellow{
    display:none;
  }

  .orange{
    display:inline;
  }
}

@media screen and (max-width: 750px) {
  body {
    background-color: rgb(250, 79, 79);
  }

  .bpm{
    background-color: rgb(202, 57, 57);
  }

  .arm{
    animation-duration: 0.25s;
  }

  .orange{
    display:none;
  }

  .red{
    display:inline;
  }
}