html{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

body{
   background-image: url(homepage-images/background.png);
    background-size: cover;  
}

img { 
    width: 100%;
    height: auto;
}

p{
    color:rgb(81, 45, 113);
    background-color:white;
    padding:5px;
    text-align:center;
}


.container{
    position: absolute;
}

.title{
    width:31%;
    left:20%;
    top:8%;
    transform:rotate(-3deg);
    position:absolute;
}

.centertext {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    opacity:0;
    transition: opacity .25s;
}

.container:hover .centertext{
    opacity:1;
}

.penhold{
    width:41%;
    top:23vh;
    left:-3vh;
}

.pen {
    transform:rotate(-10deg);
}


.bracelethold1{
    width:15%;
    top: 36%;
    left:24%;
    z-index:2;
}

.bracelethold{
    width:12%;
    top: 25%;
    left:36%;
}

.bracelet{
    transform:rotate(5deg);
}

.musichold{
    width:10%;
    top: 12%;
    left:54%;
}

.tickethold{
    width:19%;
    top: 17%;
    left:65%;
}

.notehold{
    width:16%;
    top:59%;
    left:32%;
}

.sheetmusic{
    transform:rotate(-3deg);
}

.tichold{
    width:16%;
    top:46%;
    left:66%;
}

.tictactoe{
    transform:rotate(10deg);
}

