html{
    min-height: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

body{
   background-image: linear-gradient( #bbe6ac, #8ab674);
   
}

h1{
    text-align: center;
}

.main{
    margin:auto;
    background-color: rgb(233, 253, 222);
    padding:20px;
    width:80%;
    border-radius: 5%;
    position: relative;
}

.sites{
    padding:5px;
    margin:auto;
}