* {
    box-sizing: border-box;
  } 

img{
    max-width: 100%;
}

body{
  background: lightblue;
  transition: background .25s;
}

body.dark{
  background:rgb(106, 127, 133);
}

.menu{
  background: lightblue;
  position:fixed;
  right:-200px;
  top:0;
  height:100%;
  width: 200px;
  padding:20px;
  border-left: 1px solid;
  text-align: center;
  transition:
    right .25s,
    background .25s;
}

.menu.active {
  right:0;
}

.menu.glow{
  background: lemonchiffon;
}

.gear{
  background: lightblue;
  width:100px;
  height: 100px;
  position:fixed;
  bottom:30px;
  left:30px;
  transition: 
    transform .25s,
    background .25s;

}

.gear.spin{
  transform:rotate(180deg);
}

.gear.glow{
  background:lemonchiffon;
}