* {
    box-sizing: border-box;
  } 

body{
  background-color: black;
  height:100vh;
  width:100vw;
  margin:0;
}

.container{
  overflow:hidden;
  height:100vh;
  width:100vw;
}

img{
    max-width: 100%;
}

.pacman{
  width:10vw;
  height:10vw;
  border-radius: 50%;
  background: yellow;
  position:relative;
  transform:translate(-10vh,10vh) rotate(0deg);
  animation: move 10s linear infinite forwards;
}

@keyframes move {
  0%{
    transform:translate(-20vw,10vh) rotate(0deg);
    background-color: yellow;
  }
  25%{
    transform:translate(40vw,10vh) rotate(0deg);
  }

  31%{
    transform:translate(40vw,10vh) rotate(90deg);
  }

  45%{
    transform:translate(40vw, 58vh) rotate(90deg);
  }

  55%{
    transform:translate(40vw, 58vh) rotate(0deg);
  }

  97%{
    transform:translate(110vw, 58vh);
  }

  98%{
    transform:translate(110vw, 120vh);
  }

  99%{
    transform:translate(-20vw, 120vh);
  }

  100%{
    transform: translate(-20vw, 10vh);
  }
}

.mouth{
  background: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 25%, 48% 50%, 100% 75%);
  animation: wakawaka 1s linear infinite alternate;

}


@keyframes wakawaka {
  0% {
    clip-path: polygon(100% 25%, 48% 50%, 100% 75%);
  }

  50% {
    clip-path: polygon(100% 50%, 48% 50%, 100% 50%);
  }

  100% {
    clip-path: polygon(100% 25%, 48% 50%, 100% 75%);
  }
}

.dotcontainer{
  display: flex;
}

.dot{
  width:2vw;
  height:2vw;
  background-color:white;
  border-radius: 50%;
  position:absolute;
  animation: dot-eat 10s infinite forwards;
}


.a{
  left:3%;
  top:18%;
  animation-delay: 468ms;
}

.b{
  left: 9%;
  top: 18%;
  animation-delay: 677ms;
}

.c{
  left: 15%;
  top: 18%;
  animation-delay: 932ms;
}

.d{
  left: 21%;
  top: 18%;
  animation-delay: 1155ms;
}

.e{
  left: 27%;
  top: 18%;
  animation-delay: 1406ms;
}

.f{
  left: 33%;
  top: 18%;
  animation-delay: 1652ms;
}

.g{
  left: 39%;
  top: 18%;
  animation-delay: 1900ms;
}

.h{
  left: 45%;
  top: 18%;
  animation-delay: 2149ms;
}

.i{
  left: 45%;
  top: 30.25%;
  animation-delay: 3047ms;
}

.j{
  left: 45%;
  top: 42.5%;
  animation-delay: 3302ms;
}

.k{
  left: 45%;
  top: 54.75%;
  animation-delay: 3647ms;
}

.l{
  left: 45%;
  top: 67%;
  animation-delay: 4021ms;
}

.m{
  left: 51%;
  top: 67%;
  animation-delay: 5456ms;
}

.n{
  left: 57%;
  top: 67%;
  animation-delay: 5769ms;
}

.o{
  left: 63%;
  top: 67%;
  animation-delay: 6129ms;
}

.p{
  left: 69%;
  top: 67%;
  animation-delay: 6479ms;
}

.q{
  left: 75%;
  top: 67%;
  animation-delay: 6833ms;
}

.r{
  left: 81%;
  top: 67%;
  animation-delay: 7176ms;
}

.s{
  left: 87%;
  top: 67%;
  animation-delay: 7574ms;
}

.t{
  left: 93%;
  top: 67%;
  animation-delay: 7930ms;
}


@keyframes dot-eat {
  0%{
    background: white;
  }

  5%{
    background: #00000000;
  }

  50%{
    background: #00000000;
  }
  75%{
    background: white;
  }
}

.ghost{
  position:absolute;
}

.tr{
  right:29vw;
  top:9vh;
  animation: ghost-move-right 5s linear infinite forwards;
}

@keyframes ghost-move-right{
  0%{
   transform: translate(0,0vh);
  }
  25%{
   transform: translate(20vw,0vh);
  }
  50%{
   transform: translate(20vw,10vh);
  }
 
  75%{
   transform: translate(0vw,10vh);
  }
 
  100%{
   transform: translate(0vw, 0vh);
  }
 }


.or{
  background-color: orange;
  transition: background-color 1s;
}

.ghost:hover .or{
  background-color:blue;
}

.blt{
 left:6%;
 top: 44%;
 animation: ghost-move-left 4s linear -2s infinite forwards;
}

@keyframes ghost-move-left{
  0%{
   transform: translate(0,0vh);
  }

  25%{
   transform: translate(0vw,15vh);
  }
  50%{
   transform: translate(15vw,15vh);
  }
 
  75%{
   transform: translate(15vw,0vh);
  }
 
  100%{
   transform: translate(0vw, 0vh);
  }
 }

.pi{
  background-color: pink;
  transition: background-color 1s;
}

.ghost:hover .pi{
  background-color:blue;
}

.g-body{
width:10vw;
  height:10vw;
  border-radius:50% 50% 0 0;
}

.ball{
  position:absolute;
  border-radius: 50%;
  top:91%;
  width:2vw;
  height:1.75vw;
}

.bl{
  background-color: #000;
}

.b1{
  left:20%;
}

.b2{
  left:40%
}

.b3{
  left:60%;
}

.b4{
  right:0%;
}


.eye{
  width:2.5vw;
  height:2.7vw;
  border-radius: 50%;
  background:white;
}

.pupil{
  width:1.5vw;
  height:1.5vw;
  border-radius: 50%;
  background:blue;
}

.lefteye{
  right:6%;
  top:27%;
  position:absolute;
}

.leftp{
  position: absolute;
  right:2%;
  top:32%;
}

.righteye{
  right:45%;
  top:27%;
  position:absolute;
}

.rightp{
  position: absolute;
  right:2%;
  top:32%;
}

.maze{
position:absolute;
width:100vw;
height:100vh;
display: flex;
}

.border{
  border: 12px solid blue;
  background: #000;
  position:absolute;
}

.bottom{
  bottom:10%;
  width:90%;
  justify-content: center;
  height:4vw;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 200px;
}

.bottomup{
  width:4vw;
  height:52vh;
  left:32%;
  bottom:97%;
  border-radius: 100px 100px 0 0;
  border-color: blue blue black blue;
}

.leftwall{
  height:4vw;
  width: 26%;
  left:5%;
  top:32%;
  border-radius: 200px;
}

.rightroof{
  height:4vw;
  width:42%;
  right:5%;
  top:48%;
  border-radius: 0 100px 100px 100px;
}

.rightwall{
  width:4vw;
  height:1000%;
  left: -2%;
  bottom:97%;
  border-color: blue blue black blue;
  border-radius: 100px 100px 0px 0px;


}