body{
    background-color: beige;
}

h1{
    text-align:center;
}

hr{
    border-color: rgb(0, 0, 0);
    width: 75%;
}

h2{
    text-align: center;
}

p{
    padding-right: 160px;
    padding-left: 160px;
    margin: 20px;
}