* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 105%;
    max-height: 100vh;
    user-select:none;
    z-index:1;
    overflow:hidden;
    margin:0;
  } 

img{
    max-width: 100%;
}

body{
    background:#8fe2de;
}

.landing{
    position:fixed;
    height:100%;
    width:100%;
    background:#8fe2de;
    z-index:2;
    opacity:1;
    transition:opacity .25s;
    margin: 0;
}

.smallland{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F66451;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
    z-index:2;
    gap:10px;

    color:#F0F0F0;
    text-align: center;
    padding:30px;
    font-size:100%;
}

#vinyl1{
    position:absolute;
    left: 50%;
    transform: translate(-50%, 0);
    height:100vh;

}

.enterbutton{
    background:#4F2C33;
    border-radius: 15px;
    padding: 30px 40px;
    transition: background .25s;
    color: #F0F0F0;
}

h1{
    font-size:175%;
}

.enterbutton:hover{
    background:#27131B;
}

.background{
    height:120vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin:0;
    margin-top:30px;
}

.huh{
    position:fixed;
    top:15px;
    right:15px;
    background:#d7fcbc;
    color: #4F2C33;
    height:30px;
    width:30px;
    border-radius:50%;
}

.wuh{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.huh:hover{
    background:#effbe2;
}

.explain{
    width:65%;
    height:65%;

    z-index:3;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

    background:#d7fcbc;
    opacity:95%;
    border-radius:10px;

    padding:10px;
    font-size: 120%;
}

.explain h1{
    text-align: center;
}
.ex-text{
    width:70%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);


}

.x-btn{
    position:fixed;
    top:20px;
    right:20px;
    padding:5px;
    border-radius:50%;
    height:30px;
    width:30px;

}

.x-btn span{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.x-btn:hover{
    background:white;
    color:#bff29a;
}

.fade{
    opacity:0;
}

.gone{
    display:none;
}

#keycontainer{
    background:#E3FEC2;
    width: 85vw;
    height: 50vh;
    padding: 1%;
    flex-flow: column;
    display: flex;
    border-radius: 12px;
    transition:
        height .5s;
}

#notes{
    height: 100%;
    display: flex;
    flex: 8;
    justify-content: center;
}

.key {
    flex: 1;
    display: inline-flex;
    align-items: center; 
}

.white{
    background:#F89070;
    color:#2B2D42;
    margin: 0px 7px;
    border-radius: 6px;
    position:relative;
    transition: 
        background .25s,
        padding-top .2s;
}

.white span {
    position: absolute;
    top: 75%;
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 1.5rem;
}

.white:hover{
    background: #F66451;
    color: #F66451;
}

.wpressed{
    background: #F66451;
    color: #F66451; 
}

.black {
    justify-content: center;
    position: relative;
    height: 67%;
    border-radius:6px;
    background-color: #4F2C33;
    color: #F6FEEC;
    margin: 0 -4%;
    transition: background .25s;
    z-index:2;
}

.black:hover{
    background:#27131B;
    color: #27131B;
}

.bpressed{
    background:#27131B;
    color: #27131B;
}


.bottomcontainer{
    height:300px;
    width:100vw;
    display: flex;
    justify-content: center;
    gap:10vw;

}

.audiocontainer{
    display:flex;
    justify-content: center;
    /* background:blue; */
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:20px;
}

.bt{
    color:#4F2C33;
    background-color: #E3FEC2;
    padding:10px;
    margin:6px;
    border-radius: 3px;
}

.audtop, .audbottom{
    height:100px;
    display:flex;
    gap:20px
}

.audiohold{
    height:100px;
    width: 100px;
    background-color: #B53C40;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 140%;
    color:#F0F0F0;
    padding: 10px;
    border-radius: 10px;
}


.audiohold:hover{
    background:#8A2D31;
}

.songs{
    height:100%;
    width:600px;
    background:#E3FEC2;
    padding:30px;
}

.songs h2{
    font-size:130%;
    text-align:center;
}

.songname{
    font-weight: bold;
}

#back1{
    position:fixed;
    bottom:-50%;
    left:-25%;
    transform:translate(-50%,50%);
    z-index:0;
}

#back2{
    position:fixed;
    top:-50%;
    right:-25%;
    z-index:0;
}

.bvinyl{
    animation:spin 5s linear infinite forwards;
}

@keyframes spin {
    0%      {transform: rotate(0deg);}
    50%     {transform: rotate(180deg);}
    100%    {transform: rotate(360deg);}
}

@media screen and (max-width: 1350px){

    #keycontainer{
        height:45vh;
    }
}

@media screen and (max-width: 850px){
    body{
        font-size:90%;
    }

    #keycontainer{
        height:40vh;
    }

}

@media screen and (max-width: 600px){
    body{
        font-size:85%;
    }

    #keycontainer{
        height:30vh;
    }

    .audiohold{
        width:50px;
        height:50px;
    }

}